$rouge: #ba0000; /*entete et nav*/
$gris: #333;/*textes*/
$blanc:#fff;
$noir: #000;
$gris: rgba(0,10,55,.8);
$rose: #fdd;
$font0: 'Playfair Display', serif;
$taille_police_defaut_xs: 12px;
$taille_police_defaut_s: 16px;
$taille_police_defaut_m: 18px;
$taille_police_defaut_xxl: 20px;
$taille_petite_police: 0.9em;
$taille_grande_police: 3em;
$graisse1:400;
$hauteur_entete: 280px;
$marge-entete-xs: 65%;
$marge-entete-s: 50%;
$marge-entete-m: 40%;
$marge-entete-l: 35%;
$marge-entete-xl: 30%;
$largeur_totale: 1300px;
$arondi1: 4px;
$arondi2: 10px;
$media-mobile: 576px;
$media-break-tablette: 780px;
$media-tablette-hauteur-entete: 480px;
/*
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
body {
  background-color: $rouge;
  font-family: $font0;
  font-size:$taille_police_defaut_xs;
  @media (min-width: 576px) {
    font-size:$taille_police_defaut_s;
  }
  @media (min-width: 768px) {
    font-size:$taille_police_defaut_m;
  }
  @media (min-width: 1400px) {
    font-size:$taille_police_defaut_xxl;
  }
  color:$gris;
  margin: 0;
  padding: 0;
}
p:empty{
  display:none;
}
a{
  color:$gris;
}

h1, h2, h3{
  font-weight:$graisse1;

}

h1{
  font-size: 2.5em;
  padding: 20px;
}
h3.tps{
  background-color: $rouge;
  background-image: url('/image/btn-triangle.svg');
  background-repeat: no-repeat;
  background-position: right;
  color:#fff;
  padding:3px;
  width:180px;
  cursor: pointer;
  border-radius: $arondi1;
  box-shadow: 2px 2px 2px #333;
}
h3.tps:hover{
  box-shadow: none;
  background-color: $noir;
}
blockquote{
  border-left: 10px solid #eee;
  padding-left: 1em;
  position: relative;
}

sup.footnote a{
  color:$rouge;
}
.popup{
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  i{
    font-size: .3em;
    display: block;
  }
  span{
      display: none;
      position: absolute;
      background-color: $rouge;
      padding: 15px;
      color:$blanc;
      top: 10px;
      width: 60%;
      left:100px;
      @media(min-width: 768px){
        width: 100%;
        left:10px;
      }
      font-size: .5em;
      border-radius: $arondi1;
      box-shadow: 4px 4px 4px #333;
      text-align: center;
  }
}
/*.popup:hover>span.mess{
  display: block;
}*/
.caps{
  text-decoration: italic;
}


header{
  position: relative;
  max-width: 100%;
  margin: 0;
  padding:0;
  background-image: url(/image/dominique-pagani.jpg);
  background-repeat:no-repeat;
  background-color: $rouge;
  /*background-size:$marge-entete-xs auto;*/
  background-size: $marge-entete-xs 100%;
  @media (min-width: 576px) {
    background-size: $marge-entete-s 100%;
  }
  @media (min-width: 768px) {
    background-size: $marge-entete-m 100%;
  }
  @media (min-width: 992px) {
    background-size: $marge-entete-l 100%;
  }
  @media (min-width: 1200px) {
    background-size: $marge-entete-xl 100%;
  }
  .menu{
    position: absolute;
    left:5px;
    top:5px;
    width:40px;
    height:60px;
    background-image: url("/image/menu.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    @media (min-width: 992px) {
      display: none;
    }
  }

  h1, h2{
    margin: 0;
    margin-left:$marge-entete-xs;
    @media (min-width: 576px) {
      margin-left:$marge-entete-s;
    }
    @media (min-width: 768px) {
      margin-left:$marge-entete-m;
    }
    @media (min-width: 992px) {
      margin-left: $marge-entete-l;
    }
    @media (min-width: 1200px) {
      margin-left: $marge-entete-xl;
    }
    text-align: center;
    color:$blanc;
    /**/
    a{
      text-decoration: none;

    }
  }
  h1{
    padding: .2em;
    a{
      color:rgba(255, 255, 255, .7);

    }
    @media (min-width: 576px) {
      padding: .8em;
    }
    @media (min-width: 1200px) {
      padding: 1em 2.5em ;
    }
    @media (min-width: 1400px) {
      padding: .8em 4em ;
    }
    /*padding:0 0 1em 0;*/
    font-size:2em;
    @media (min-width: 768px) {
      font-size:2.5em;
    }
    @media (min-width: 992px) {
      font-size:2.8em;
    }
  }
  h2{
    font-size:1.4em;
    padding:0;
    color:rgba(255, 255, 255, .7);
    @media (min-width: 1400px) {
      padding: 1em ;
    }
  }
  nav{
    display: none;
    @media (min-width: 992px) {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      display: -ms-flex;
      display: -webkit-flex;
      background-color: $blanc;
    }
    p{
      margin:3px;
      font-size: smaller;
      a{
        color:$noir;
      }
      a:hover{
        color:$rouge;
      }
    }
  }
}

body>section{
  margin: 0 ;
  display: flex;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  background-color: $blanc;
}

nav.colgauche{
  display:none;
  width:100%;
  @media (min-width: 992px) {
    display:block;
    width:$marge-entete-l;
    min-width:$marge-entete-l
  }
  @media (min-width: 1200px) {
    width:$marge-entete-xl;
    min-width:$marge-entete-xl
  }
  border-right: thin solid $gris;
  background-color: $rouge;
  ul{
    list-style-type:none;
    padding:5px 0 5px 15px;
    margin: 0;
  }
  ul.inline-items>li{
    display: inline-block;
  }
  ul.inline-items>li:not(:first-child):before{
    content: "|";
    color: $blanc;

  }
  li{padding: 5px 0}

  b{
    color:rgba(255, 255, 255, .7);
  }
  a{
    text-decoration:none;
    color:$blanc;
  }
  a:hover{
    text-decoration:underline;
  }
  .active>a{
    font-weight:bold;
  }
  [data-title]:hover:after {
      opacity: 1;
      transition: all 0.1s ease 0.5s;
      visibility: visible;
  }
  [data-title]:after {
      content: attr(data-title);
      background-color: #fff;
      color: #111;
      position: absolute;
      padding: 5px;
      left: 100%;
      font-weight: normal;
      white-space: nowrap;
      box-shadow: 1px 1px 3px $gris;
      opacity: 0;
      border: 1px solid $gris;
      z-index: 99999;
      visibility: hidden;
  }
  [data-title] {
      position: relative;
  }
  div.publications{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}


footer{
  max-width: $largeur_totale;
  padding: 1em 0;
  background-color: $rouge;
  p{
    text-align:center;
    color: $blanc;
  }
  a{color: $blanc;}
}


section.page{
  background-color: $blanc;
}
section.grille{
  display: grid;
  @media (max-width: 768px) {
   display:block;
  }
}
section.col1{
  padding: 0 3em;
  h1{
    margin: 1em 0 1em 0;
  }

}
section.cols2{
  grid-template-columns: 1fr 1fr;
  align-items: start;
  .article-video>div{
    padding:0;
    .video{
       width:100%;
    }
  }
}
section.cols3{
  grid-template-columns: 1fr 1fr 1fr;
}
section.cols4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
section.cols5{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
section.cols6{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

article{
  margin: 1em;
  h1{
    font-size:$taille_grande_police;
    margin: 0;
  }
  p{
    text-align: justify;
  }
  img{
    width:100%;
  }
}
.article-video>div{
  background-color: $noir;
  border-radius: $arondi2;
  padding: 25px 0;
  @media (max-width: 576px) {
    padding: 0;
  }
  box-shadow: 4px 4px 4px $gris;
}
.video{
    width:510px;
    height:286px;
    margin: 0 auto;
    iframe, #player{
      width:100%;
      height:100%;
    }
  }
@media (max-width: 576px) {
  .video{
     width:100%;
     height: 100%;
  }
}
.lettrine:first-letter{
  font-size:$taille_grande_police;
  float:left;
  font-style:italic;
}

.breadcrumb{
  display: flex;
  flex-flow: row-reverse;
  list-style-type: none;
  font-size: smaller;
  flex-wrap: wrap-reverse;
  margin: 0 45px;
  padding: 0;
  li:not(:last-child):before{
    content : " → ";
  }
}

.accroche{
  img{
    float:right;
    width: 180px;
  }
  h2{
    margin: 0;
    padding: 10px 50px;
    text-align: center;
    @media(min-width: 768px){
      padding: 0;

    }
  }
  p{
    text-align: center;
    margin: 0;
    padding:0 20px;
    @media(min-width: 768px){
      clear: right;
    }
  }
}
.info{
  text-align:right;
  color:$gris;
  margin-bottom:2em;
}
.note{
  text-align:right;
  font-size:$taille_petite_police;
}

article.en-bas{
  align-self: end;
}
article.en-haut{
  align-self: start;
}
article.au-milieu{
  align-self: center;
}
article.au-centre{
  justify-self: center;
}

.nogrid{
  display:block !important;
}
.invisible{
  display:none;
}
.droite{
  float: right;
  display:block;
  margin-left:1em;
  margin-bottom: 1em;
}
.gauche{
  float: left;
  display:block;
  margin-right:1em;
  margin-bottom: 1em;
}
hr{
  clear: both;
  color: $rouge;
}

div.sommaire{
  margin-top: 2em;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  div{
    width:100%;
    height:100%;
    text-align:center;
    border: thin dotted $rouge;
    position: relative;
    p{
      position: absolute;
      bottom:0;
      width: 100%;
      font-size: smaller;
    }
  }
  div:hover{
    background-color: $rouge;
    a{
      color: #fff;
    }
  }
}
.alerte{
  position:fixed;
  font-size: smaller;
  width: 75%;
  padding:15px;
  height: auto;
  background-color: $rose;
  border: 10px solid $rouge;
  border-radius: 25px;
  font-family:monospace;
  right: 0;
  bottom: 0;
  box-shadow: 4px 4px 4px $gris;
  p{
    text-align: left;
  }
  .croix{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: block;
  }
}
