<article class="article-video {{this.decoration}} {{this.positionnement}} {{this.startcell}}{{this.endcell}}">
  {{this.text}}
  <div>
   <div class="video" id="player-video">
     {%if record.goto_video%}
     <div id="player"></div>
     <script>
     /*
      Pilotage de la vidéo depuis les liens dans
      la page par l'API youtube.
      voir /assets/js/goto.js
     */
        function onYouTubeIframeAPIReady() {
         player = new YT.Player('player', {
           height: '390',
           width: '640',
           videoId: '{{this.video}}',
           events: {
             'onReady': onPlayerReady
           }
         });
       }
     </script>
    </div>
    {%else%}
    <iframe
      src="https://www.youtube.com/embed/{{this.video}}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    {%endif%}
  </div>
</article>
