{%extends "layout.html"%}
{% block body %}
<section class="page" style="width:100%">
  <p style="width:400px; margin:0 auto;
  text-align: center;font-weight:bold;
  font-family: monospace">
    <img src="/image/404.svg" alt="404" style="display:block">
    Cette page n'existe pas.
  </p>

</section>
{% endblock %}
