<!DOCTYPE html>
<html>
  <head>
    <title>Association avec Dominique Pagani {% block title %} {{this.title}}{% endblock %}</title>
    <meta  charset="UTF-8">
    <meta name="robots" content="none" />
    <meta name="description" content= "{{this.body|striptags|truncate(255)}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Jomolhari|Playfair+Display:400,700&display=swap" rel="stylesheet">
    {%block extra_css%}{%endblock%}
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/dp.js"></script>
    {%block extra_js%}{%endblock%}

  </head>
  <body>
    <header>
      <h1> <a href="/">Association Avec Dominique Pagani</a> </h1>
      <h2>Ateliers de philosophie</h2>
      <nav>
        <p> <a href="/references">Index des auteurs et références</a> </p>
      </nav>
      <div class="menu open-menu" id="menu"/>
    </header>
    <section>
      <nav class="colgauche" id="colgauche">
        <ul role="navigation">
          <li>
            {%if this.title == 'Accueil'%}
              <b>Accueil</b>
            {%else%}
              <a href="/">Accueil</a>
            {%endif%}
          </li>
          {% set root = site.get('/') %}
          {%- for page in root.children.order_by("ordre") recursive %}
            <li>
              {%if page == this%}
              <b>&rarr; {{ page.title|safe  }}</b>
              {%else%}
              <a href="{{ page|url  }}" {%if page.etiquette%}data-title="{{page.etiquette|safe}}"{%endif%}>
                {{ page.title|safe  }}
              </a>
              {%if page.media%}
              <span><img src="/image/{{page.media}}.svg"/></span>
              {%endif%}

              {%endif%}
              {% if page.children %}
                <ul {%if page.inline_items%}class="inline-items"{%endif%} >
                  {{ loop(page.children.order_by("ordre"))  }}
                </ul>
              {% endif %}
            </li>
            {%- endfor %}
      </ul>
      <div class="publications">
        <p><a href="/a-propos/pagani-sans-detours/">
          <img width="150px" src="http://editionsdelga.fr/wp-content/uploads/2019/08/couvpaga-600x889.jpg" alt=""></a></p>
        <p><a href="/a-propos/feminite-et-communaute-chez-hegel/">
          <img width="150px" src="https://dominiquepagani.net/wp-content/uploads/2019/03/couverture.png" alt=""></a></p>
      </div>
    </nav>
    <div style="width:100%">
      {%macro get_parent(page)%}
        {%if page.parent%}
        <li> <a href="{{page|url}}">{{page.parent.title|safe}}</a></li>
        {{get_parent(page.parent)}}
        {%endif%}
      {%endmacro%}
      {%block breadcrumb%}
      <ul class="breadcrumb">
        <li>{{this.title|safe}}</li>
        {{get_parent(this)}}
      </ul>
      {% endblock %}
      {% block body %}{% endblock %}
    </div>
    </section>
    <footer>
    <p> Association Dominique Pagani</p>
    <p>site conçu avec <a href="https://www.getlektor.com">lektor</a>,
      <a href="https://framagit.org/tazogil/domilektor/">son dépôt GIT</a></p>
    </footer>
  </body>
  {%block bottom_script%}{%endblock%}
</html>
