{% extends "layout.html" %}
{%block extra_css%}
<style>
{%if this.grille and this.colonnes != 'col1'%}
.grille{
    grid-template-areas: {{ get_areas(this)|safe }}
  }
  {%if this.proportions%}
    section.{{this.colonnes}} { grid-template-columns: {{this.proportions}} }
  {%endif%}
  {%for blk in this.body.blocks%}
    article.{{blk.startcell}}{{blk.endcell}} {grid-area: {{blk.startcell}}{{blk.endcell}}}
  {%endfor%}
{%endif%}
</style>
{%endblock%}
{%block extra_js%}
{%if this.goto_video%}
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" src="/js/goto.js"></script>
{% endif %}
{%endblock%}
{% block body %}
<section class="page {%if this.grille and this.colonnes != 'col1'%}grille{%endif%} {{this.colonnes}}">
  {%if this.aff_titre%}
  <h1>
    {% block title %}{{ this.title|safe }}{% endblock %}
  </h1>
  {%endif%}

  {%if this.sommaire%}
  <div class="sommaire">
    {% for child in this.children.order_by("ordre") %}
    <div>
      <h1><a href="{{child|url}}">{{child.title|safe}}</a></h1>
      {%if child.etiquette%}
      <p>{{child.etiquette|safe}}</p>
      {%endif%}
    </div>
  {%endfor%}
  </div>
  {%endif%}
  {{ this.body }}
  {#
    {%if this.alerte%}
    <div class="alerte">
  <img src="/image/High-contrast-dialog-close.svg"
      onclick="this.parentElement.style.display='none'"
      class="croix"/>

      <h2>Cette vidéo est à indexer</h2>
      <p>L'indexation offre un aperçu général du contenu de la vidéo et contribue fortement au
         référencement du site de l'association.</p>
      <ul>
        <li>Écrire de courts commentaires qui renvoient à des passages dans la vidéo.
        </li>
        <li>Insérer des notes de bas de page relatives aux auteurs cités avec si possible leur lien vers une ressource externe (wikisource...).</li>
      </ul>
      <p>Bientôt sera disponible une procédure pour que des membres de l'association puissent indexer.
    </p>
    </div>
  {%endif%}
    #}
</section>
{%if this.commentaire%}
<section>
  <div class="comments">{{ render_disqus_comments() }}</div>
</section>
{%endif%}
{% endblock %}
