{%extends "page.html"%}
{%block extra_css%}
<style>
dd{
  font-size: smaller;
  margin-left: 20px;
}
article:first-child{
  border-right: thin solid #ba0000;
}
p{
  padding-right: 1em;
}
</style>
{%endblock%}
{%block body%}
<section class="page grille cols2">
  {{this.body}}
</section>
{%endblock%}
